#overlay {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    display: none;
    text-align: center;

    img {
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        border-radius: 6px;
    }

    p {
        color: white;
    }
}

#previous-button {
    cursor: pointer;
    height: 128px;
    width: 128px;
    background-image: url("/img/buttonPrevious.png");
    position: relative;
    margin: auto;
    display: inline-block;
}

#next-button {
    display: inline-block;
    cursor: pointer;
    height: 128px;
    width: 128px;
    background-image: url("/img/buttonNext.png");
    position: relative;
    margin: auto;
}

#closeLightbox {
    cursor: pointer;
    height: 128px;
    width: 128px;
    background-image: url("/img/buttonClose.png");
    display: inline-block;
    position: relative;
    margin: auto;
}
