#overlay {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    display: none;
    text-align: center;
    
        img {
            margin-top: 10%;
            width: 50%;
            height: 50%;
            border-radius: 6px;
        }
        
        p {
            color: white;    
        }
}

#previous-button {
    cursor: pointer;
    height: 128px;
    width: 128px;
    background-image: url(/img/buttonPrevious.png);
    position: absolute;
    top: 35%;
    right: 80%;
}

#next-button {
    cursor: pointer;
    height: 128px;
    width: 128px;
    background-image: url(/img/buttonNext.png);
    position: absolute;
    top: 35%;
    left: 80%;
}

#closeLightbox{
    cursor: pointer;
    height: 128px;
    width: 128px;
    background-image: url(/img/buttonClose.png);
    position: absolute;
    top: 75%;
    left: 45%;
}
